! Colorscheme: Japanesque from https://mayccoll.github.io/Gogh/
! special
*.foreground:   #fafaf6
*.background:   #1e1e1e
*.cursorColor:  #b2b5ae

! black
*.color0:       #343935
*.color8:       #595b59

! red
*.color1:       #cf3f61
*.color9:       #d18fa6

! green
*.color2:       #7bb75b
*.color10:      #767f2c

! yellow
*.color3:       #e9b32a
*.color11:      #78592f

! blue
*.color4:       #4c9ad4
*.color12:      #135979

! magenta
*.color5:       #a57fc4
*.color13:      #604291

! cyan
*.color6:       #389aad
*.color14:      #76bbca

! white
*.color7:       #fafaf6
*.color15:      #b2b5ae
